body {
    background: #EFF7FA
}

.table_wrapper{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

div.dataTables_wrapper {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
}

.datepicker {
  background-color: #fff ;
  color: #333 ;
  }

.datepicker2 {
  background-color: #fff ; 
  color: #333 ;
}

.button-datatables {
  color:#333;
  background-color: white;
}

.button-datatables:hover {
  color:#333;
  background-color: whitesmoke;
}

div .dt-buttons{
  float : left;
}

.dataTables_length{
  float : left;
}