table {
    border-style: double;
    border-width: 3px;
    border-color: white;
    border-collapse: collapse;
  }
  table tr .text2 {
    text-align: right;
    font-size: 13px;
  }
  table tr .text {
    text-align: center;
    font-size: 13px;
  }
  table tr td {
    font-size: 13px;
  }
  
  .text3 {
    text-align: justify;
    font-size: 13px;
  }
  p {
    text-indent: 0.5in;
  }